<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.getmessagecode.launcher</string>

    <key>ProgramArguments</key>
    <array>
        <!-- 直接指定可执行文件的完整路径 --> 
        <string>/opt/sms/get_message_code_server</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/get_message_code.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/get_message_code.err</string>
</dict>
</plist>